<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/components/styles/teamstyle.css">
    <link rel="stylesheet" href="/components/styles/style.css">
    <link rel="icon" type="icon" href="/components/images/BC_RP Logo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>BC:RP | Domov</title>
</head>
<body>
    <div class="odkaz">
        <a href="/index.html">Domov</a>
        <a href="/components/scripts/team.html">Náš Tím</a>
        <a href="/components/scripts/zaujimavost.html">Zaujímavosti</a>
        <a href="https://discord.gg/j28JYhSXFK" target="_blank">Discord Server</a>
    </div>
    <!-- ====BANNER STRÁNKY ==== -->
     <br><br>
    <div class="Úvod">
        <h1>
            Náš tím
        </h1>
        <p>
            Členovia nášho staff tímu každodenne investujú hodiny zo svojho voľného času na rozvoj servera. <br>
            Preto im patrí neskutočná vďaka!
        </p>
    </div>
    <br><br>
    <h2>
        Vedenie servera
    </h2>
    <div class="majitel">
        skrafer
        <br><br>
        <p>
           MAJITEĽ 
        </p>
    </div>
    <div class="co-owner">
        rezzy_official
        <br><br>
        <p>
           SPOLUMAJITEĽ 
        </p>
    </div>
    <div class="supervisor">
        petisek_897pico
        <br><br>
        <p>
           SUPERVISOR 
        </p>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <h2>
        Admin tím
    </h2>
    <div class="admin1">
        droppmas
        <br><br>
        <p>
           ADMINISTRÁTOR 
        </p>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <h2>
        Discord Technik tím
    </h2>
    <div class="technik1">
        petisek_897pico
        <br><br>
        <p>
           DISCORD TECHNIK 
        </p>
    </div>
    <div class="technik2">
        skrafer
        <br><br>
        <p>
           WEB DEVELOPER <br>
           DISCORD TECHNIK 
        </p>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <h2>
        Moderátor tím
    </h2>
    <div class="mod1">
        justseko88
        <br><br>
        <p>
           MODERÁTOR 
        </p>
    </div>
    <div class="Copyright">
        <hr>
        <p>
            Made by BC:RP Web Developer Team <br><br>
            &copy; 2025 Bratislava City RolePlay • All Rights Reserved
        </p>
        <br>
        <br>
    </div>
</body>
</html>