<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/components/styles/style.css">
    <link rel="stylesheet" href="/components/styles/zaujimavoststyle.css">
    <link rel="icon" type="icon" href="/components/images/BC_RP Logo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>BC:RP | Domov</title>
</head>
<body>
    <div class="odkaz">
        <a href="/components/scripts/index.html">Domov</a>
        <a href="/components/scripts/team.html">Náš Tím</a>
        <a href="/components/scripts/zaujimavost.html">Zaujímavosti</a>
        <a href="https://discord.gg/j28JYhSXFK" target="_blank">Discord Server</a>
    </div>
    <!-- ====BANNER STRÁNKY ==== -->
     <br><br>
    <div class="Úvod">
        <h1>
            Zaujímavosti o projekte
        </h1>
        <p>
            Bratislava City RolePlay má za sebou bohatú hystóriu. <br>
            Následujúce ste o nás určite nevedeli!
        </p>
    </div>
    <div class="Zaujímavosti">
        <p>
            Server vznikol 8. 7. 2025 20:15:14 <br>
            Momentálne sa RP odohráva na ERLC. Avšak najprv sa RP odohrávalo na custom mape. <br>
            Na poste Spolumajiteľa sa vystriedli už dvaja ľudia. <br>
            Prvým hráčom ktorý sa pripojil na discord server je Kerub1234
        </p>
    </div>
    <div class="Copyright">
        <hr>
        <p>
            Made by BC:RP Web Developer Team <br><br>
            &copy; 2025 Bratislava City RolePlay • All Rights Reserved
        </p>
        <br>
        <br>
    </div>
</body>
</html>